RewriteEngine on

RewriteRule post/([0-9]+)/([a-z0-9-]+) index.php?page=post&slug=$2&id=$1&action=show
RewriteRule blog index.php?page=blog&action=show
RewriteRule contact index.php?page=contact&action=process
RewriteRule login index.php?page=login&action=show
RewriteRule logout index.php?page=login&action=logout
