<?php

/**
 * This file contains global configuration of application.
 * You must customize it with yours data and save it as config.php
 */

/**
 * get
 *
 *  Get the value of an environment variable if it exists
 *
 * @param string $configKey
 * @param string $default
 */
function get($configKey, $default): string
{
    if (false !== getenv($configKey)) {
        return getenv($configKey);
    }

    return $default;
}


// to configure the connection to the database

define('SERVER', get('SERVER', 'localhost'));   // the adress of the server
define('USER', get('DB_USER', 'root'));         // the user with access to the database
define('PASSWD', get('DB_PASSWD', 'password')); // the password of the user
define('DB_NAME', get('DB_NAME', 'blogphp'));   // the name of the database

define('PORT', get('PORT', '3306'));
define('PDO_DSN', 'mysql:host=' . SERVER . ';port=' . PORT . ';dbname=' . DB_NAME);

// to configure the send of e-mail in App\Application\PHPMailerApp
define('SMTP_SERVER', 'write_yours');    // SMTP server, ex : 'smtp.gmail.com'
define('SMTP_USER', 'write_yours');      // SMTP username, ex : 'joe.doe@gmail.com'
define('SMTP_PASS', 'write_yours');      // SMTP password

// emails of Administrator
define('EMAIL_CONTACT', 'write_yours');  // E-MAIL adress to receive message from contact form
define('EMAIL_ADMIN', 'write_yours');    // E-MAIL adress to receive an reply from a mail send to a user from CaroCode
