<?php

/**
 * Global configuration of application
 */

function get($configKey, $default)
{
    if (getenv($configKey) !== false) {
        return getenv($configKey);
    }

    return $default;
}


// to configure the connection to the database

define('SERVER', get('SERVER', 'localhost')); // the adress of the server
define('USER', get('DB_USER', 'root')); // the user with access to the database
define('PASSWD', get('DB_PASSWD', 'password')); // the password of the user
define('DB_NAME', get('DB_NAME', 'blogphp')); // the name of the database

define('PORT', get('PORT', '3306'));
define('PDO_DSN', 'mysql:host=' . SERVER . ';port=' . PORT . ';dbname=' . DB_NAME);

// other sensitive data
define('MAIL', 'yours@domain.com'); // put your e-mail
